<div class="form-group w-25 p-3">
  <%= form_with(model: [@board, list], local: true) do |form| %>
    <% if list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

        <ul>
          <% list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <div class="form-group">
        <label>Name</label>
        <%= form.text_field :name, {:class => 'form-control', :placeholder => list.name} %>
      </div>
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  <% end %>
</div>
